/* Reset e Configurações Gerais
----------------------------------------
* Reset de margens e paddings
* Configurações base do projeto
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}

/* Header
----------------------------------------
* Cabeçalho fixo com logo e navegação
*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.header__container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.header__logo {
  font-weight: 400;
  font-size: 1.375rem;
  opacity: 0.6;
}

.header__logo span {
  color: rgb(91, 135, 184);
  margin-left: 10px;
  font-weight: 400;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.header__nav-link:hover {
  color: #008080;
  border-bottom: 1px solid #008080;
}

/* Conteúdo Principal
---------------------------------------- */
.capa {
  background-image: url("../img/img-fundo.jpg");
  width: 75%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: 2;
  margin: 0 auto;
}

.capa__container {
  background-color: rgba(47, 115, 80, 0.759);
  text-align: center;
  padding: 60px 40px;
  border: 1px solid white;
}

.capa__title {
  color: white;
  font-size: 52px;
  animation: fadeDown 1s ease forwards;
}

.capa__text {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

/* Quartos
---------------------------------------- */
.quartos {
  width: 100%;
  margin: 40px 0 150px 0;
}

.quartos__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quartos__titulo {
  margin-bottom: 20px;
}

.quartos__texto {
  width: 550px;
  line-height: 38px;
  font-size: 16px;
  color: rgb(108, 106, 106);
  margin-bottom: 40px;
}

.quartos__galeria {
  display: flex;
  text-align: center;
  gap: 1.25rem;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.quartos__galeria figure {
  transition: transform 0.3s ease, box-shadow 0.3 ease;
  flex: 1;
  aspect-ratio: 3/2;
}

.quartos__galeria figure:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.quartos__galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quartos__galeria figcaption {
  border-bottom: 2px solid #49997d;
  padding: 15px 0;
}

.quartos__galeria figure:hover figcaption {
  color: #008080;
}

/* Rota
---------------------------------------- */
.rota {
  text-align: center;
  margin-bottom: 52px;
}

.rota__texto {
  margin-bottom: 32px;
  color: rgb(125, 124, 124);
}

.rota__mapa {
  width: 70%;
}

/* Sobre
---------------------------------------- */

.sobre__container {
  text-align: center;
  margin-bottom: 40px;
}

.sobre__texto {
  color: rgb(125, 124, 124);
}

.sobre__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 70px;
}

.sobre__card {
  display: flex;
  width: 500px;
  height: 130px;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.sobre__card-title {
  font-weight: 600;
  gap: 20px;
}

.sobre__cards-row {
  display: flex;
  flex-direction: column;
}

.sobre__card-imagem {
  width: 100px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.sobre__card-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer
---------------------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #49997d;
  color: white;
  width: 75%;
  height: 170px;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  border-bottom: 1px solid #636363;
  padding: 20px;
}

.footer__container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
}

.footer__titulo {
  font-size: 20px;
  font-weight: bold;
}

.footer__link {
  color: white;
  text-decoration: none;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.quartos__titulo,
.rota__titulo,
.sobre__titulo {
  text-transform: uppercase;
  font-weight: 400;
}

.rota__titulo {
  margin-bottom: 16px;
  color: rgb(125, 124, 124);
}

.sobre__titulo {
  margin-bottom: 16px;
  color: rgb(125, 124, 124);
}
