.capa {
  background-image: url("../img/img-fundo.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 75%;
}

.quartos__info {
  width: 75%;
  margin: 0 auto;
}

.quartos__info-header {
  text-align: center;
  margin: 70px 0 40px 0;
}

.quartos__info--titulo {
  text-align: center;
}

.quartos__info-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 75%;
  margin: 0 auto;
}

.quartos__info-item {
    font-size: clamp(.5rem, calc(1rem + 0.1vw), 20px);
    white-space: nowrap;
}